.text-center{
    margin-top: 3%;
}
.principal{
    width: 80%;
    min-height: 100vh;
    margin: auto;
}
h1{
    font-family: monospace;
    padding: 20px;
    color: #004cfe;
}
.btn-group{
    padding: 10px;
    padding-bottom: 5%;
}

@media screen and (max-width: 420px) {
    .principal{
        margin-top: 10%;
        min-height: 100vh;
    }
}